---
import Testimonials from "./Testimonials.astro";
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-4">
        <Testimonials />
      </div>
      <div>
        <div class="text-base leading-7 text-gray-600 lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-pink-600">
            Introducing
          </p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl"
          >
            About Us
          </h1>
          <div class="max-w-xl">
            <p class="mt-6 text-lg">
              Welcome to Romanian Mothers in the UK, a heartfelt initiative
              dedicated to supporting and empowering Romanian mothers across
              United Kingdom. We believe that every mother deserves love, care,
              and the opportunity to thrive, and we are committed to making a
              positive difference in their lives.
            </p>
          </div>
          <h1
            class="mt-8 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl"
          >
            Our Mission
          </h1>
          <div class="max-w-xl">
            <p class="mt-6 text-lg">
              At Romanian Mothers in the UK, our mission is to provide
              comprehensive support to Romanian mothers, ensuring their
              well-being and fostering an environment of growth and empowerment.
              We strive to create a community where mothers feel valued,
              supported, and equipped with the necessary resources to navigate
              the challenges they face.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
