<div class="bg-gradient-to-br from-pink-200 to-white py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl gap-x-16 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
  >
    <div class="max-w-2xl">
      <h2
        class="text-3xl font-semibold tracking-tight text-gray-800 sm:text-4xl"
      >
        Meet the Team
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        At "Romanian Mothers in the UK," our dedicated team stands united in a
        mission: to uplift and empower. With diverse skills but a shared
        purpose, they work tirelessly, ensuring every Romanian mother feels
        valued and supported. Discover the individuals driving this
        transformative cause.
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      <li>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt=""
          />
          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Irina Stanean
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              CEO and Co-Founder
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt=""
          />
          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Alina Iordache
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              CFO and Co-Founder
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt=""
          />
          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Melania Culea
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              COO and Co-Founder
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt=""
          />
          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Bryana Amaximoaie
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              CMO and Co-Founder
            </p>
          </div>
        </div>
      </li>
      <!-- More people... -->
    </ul>
  </div>
</div>
