---
import { Image } from "astro:assets";
import Irina from "../assets/irina.webp";
import Alina from "../assets/alina.webp";
import Melania from "../assets/melania.webp";
import Bryana from "../assets/bryana.webp";
---

<div class="bg-gradient-to-br from-pink-200 to-white py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl gap-x-16 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
  >
    <div class="max-w-2xl">
      <h2
        class="text-3xl font-semibold tracking-tight text-gray-800 sm:text-4xl"
      >
        Meet the Team
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        At "Romanian Mothers in the UK," our dedicated team stands united in a
        mission: to uplift and empower. With diverse skills but a shared
        purpose, they work tirelessly, ensuring every Romanian mother feels
        valued and supported. Discover the individuals driving this
        transformative cause.
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      <li>
        <div class="flex items-center gap-x-6">
          <Image src={Irina} class="h-16 w-16 rounded-full" alt="Irina" />

          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Irina Stanean
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              CEO and Co-Founder
            </p>
            <p class="leading-6 text-gray-600 text-sm">
              <span class="font-semibold">Email:&nbsp;</span>
              <a href="mailto:irina@romanianmothers.org.uk"
                >irina@romanianmothers.org.uk</a
              >
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <Image src={Alina} class="h-16 w-16 rounded-full" alt="Alina" />

          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Alina Iordache
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              CFO and Co-Founder
            </p>
            <p class="leading-6 text-gray-600 text-sm">
              <span class="font-semibold">Email:&nbsp;</span>
              <a href="mailto:alina@romanianmothers.org.uk"
                >alina@romanianmothers.org.uk</a
              >
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <Image src={Melania} class="h-16 w-16 rounded-full" alt="Melania" />

          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Melania Culea
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              COO and Co-Founder
            </p>
            <p class="leading-6 text-gray-600 text-sm">
              <span class="font-semibold">Email:&nbsp;</span>
              <a href="mailto:melania@romanianmothers.org.uk"
                >melania@romanianmothers.org.uk</a
              >
            </p>
          </div>
        </div>
      </li>

      <!--       <li>
        <div class="flex items-center gap-x-6">
          <Image src={Bryana} class="h-16 w-16 rounded-full" alt="Bryana" />

          <div>
            <h3 class="text-xl leading-7 tracking-tight text-gray-800">
              Bryana Amaximoaie
            </h3>
            <p class="font-semibold leading-6 text-pink-600">
              CMO and Co-Founder
            </p>
            <p class="leading-6 text-gray-600 text-sm">
              <span class="font-semibold">Email:&nbsp;</span>
              <a href="mailto:bryana@romanianmothers.org.uk">bryana@romanianmothers.org.uk</a>
            </p>
          </div>
        </div>
      </li> -->
      <!-- More people... -->
    </ul>
  </div>
</div>
